
<table style="width: 100%">
  <tr>
    <th>ID</th>
    <th>First</th>
    <th>Last</th>
    <th>Email Address</th>
    <th>Admin?</th>
  </tr>

<% @users.each do |user| %>
<tr style="text-align: center">
<td><%= user.id %></td>
<td><%= user.firstname %></td>
<td><%= user.lastname %></td>
<td><%= user.email %></td>
</tr>
<% end %>

</table>
</style>

	
